.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__logo {
    width: 254px;
}
.header__heading {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
}
.header__heading_pos {
    margin: 91px 0 32px;
}
.header__description {
    max-width: 720px;
    font-size: 30px;
    line-height: 1.2;
}
.header__img-container {
    max-width: 984px;
}
.header__image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__image-position {
    margin-top: 64px;
}
@media screen and (max-width: 1024px) {
    .header__heading {
        max-width: 530px;
        font-size: 75px;
        font-weight: 900;
        line-height: 1.05;
    }
    .header__heading_pos {
        margin: 90px 0 25px;
    }
    .header__image-position {
        margin-top: 30px;
    }
}
@media screen and (max-width: 544px) {
    .header__logo {
        width: 188px;
    }
    .header__heading {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.05;
    }
    .header__heading_pos {
        margin: 50px 0 16px;
    }
    .header__description {
        font-size: 16px;
    }
    .header__image-position {
        margin-top: 40px;
    }
}